.table {
  width: 100%;
  font-family: "Inter";
  border: 0.5px solid #b5b5b5;

  font-style: normal;
  font-size: 16px;
  line-height: 126.02%;
  margin: -1px -1px -1px -1px;
  /* or 20px */

  color: #000000;
}

.table td {
  height: 53px;
  width: 50%;
  vertical-align: middle;
  padding-left: 50px;
}

.table-bordered tr td:last-child {
  border-right: hidden !important;
}

.widget-div {
  width: 90%;
  height: 70px;
  background: #021d27;
  border-radius: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 126.02%;
  /* or 30px */
  margin-bottom: 34px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #ffffff;
}

.widget-title-div {
  width: 100%;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
}

.widget-title-div span {
  float: left;
  transform: scale(1.5);
  vertical-align: middle;
}

.widget-title-div label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 126.02%;
  /* or 30px */
  vertical-align: middle;
  text-align: center;

  color: #ffffff;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.img-gem {
  width: 284px;
  height: 186px;
}

.bdr {
  width: 90%;
  border-radius: 20px;
  height: fit-content;
  border: 0.5px solid #b5b5b5;
  margin-bottom: 80px;
  overflow: hidden;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #e9e9e9;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
  background-color: #f5f5f5;
}

.value-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 126.02%;
  /* or 20px */

  color: #000000;
}

.report-img {
  width: 254px;
  height: 360px;
}

.iframe-img {
  width: 100%;
  height: 300px;
}

.iframe-wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0 30px 0;
  border: 1px solid #c9c9c9;
  border-radius: 15px;
  margin-bottom: 80px;
}

.nft-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 54px;
  margin-top: 30px;
}

.logo {
  width: 122.41px;
  height: 25px;
}

.nft-logo {
  width: 238px;
  height: 51px;
}

.nft-footer-content {
  width: 90%;
  height: 68px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid #b5b5b5;
  column-gap: 7px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.default-font {
  font-family: "Inter";
  color: #021d27;
}

.nft-header-content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nft-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 74px;
  width: 100%;
  background: #021d27;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 60px;
}

.photo {
  width: 225px;
  height: 225px;
  margin: 30px 0 30px 0;
}

.td-carousel {
  height: 350px !important;
}

.gem-icon {
  width: 20px;
  height: 40px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='41' height='39' viewBox='0 0 41 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.73769 1.47571e-05C8.67957 -0.000517173 8.62222 0.0133389 8.57082 0.0403347C8.51942 0.0673305 8.47558 0.106618 8.44326 0.154656C8.41093 0.202695 8.39113 0.257975 8.38565 0.315516C8.38017 0.373058 8.38916 0.431052 8.41184 0.484273L8.61331 0.957209L12.1784 9.2227C12.2027 9.27891 12.2414 9.3278 12.2906 9.36444C12.3399 9.40108 12.3979 9.42417 12.459 9.43141C12.5201 9.43865 12.582 9.42977 12.6386 9.40567C12.6951 9.38157 12.7443 9.3431 12.7811 9.29412L19.3613 0.557434C19.4003 0.505675 19.4241 0.444127 19.4299 0.379689C19.4358 0.315251 19.4234 0.250468 19.3943 0.192599C19.3652 0.13473 19.3205 0.0860608 19.2652 0.0520461C19.2098 0.0180315 19.146 1.47571e-05 19.081 1.47571e-05H8.73769ZM34.8595 2.26976L31.2436 10.6633C31.2208 10.7163 31.2117 10.774 31.2169 10.8314C31.2221 10.8888 31.2416 10.944 31.2735 10.9921C31.3054 11.0401 31.3489 11.0796 31.3999 11.1069C31.4509 11.1341 31.508 11.1484 31.5659 11.1484H40.4131C40.4755 11.1484 40.5369 11.1319 40.5907 11.1004C40.6446 11.0689 40.689 11.0237 40.7194 10.9694C40.7498 10.9151 40.765 10.8538 40.7635 10.7917C40.762 10.7296 40.7438 10.669 40.7109 10.6162L35.4788 2.2236C35.445 2.16956 35.397 2.12577 35.3399 2.09696C35.2828 2.06816 35.2189 2.05545 35.1551 2.0602C35.0913 2.06496 35.03 2.08701 34.9779 2.12395C34.9258 2.16089 34.8848 2.21132 34.8595 2.26976ZM5.52119 2.22708L0.290872 10.6162C0.257918 10.669 0.239753 10.7296 0.238259 10.7917C0.236764 10.8538 0.251993 10.9151 0.28237 10.9694C0.312746 11.0237 0.357164 11.0689 0.411024 11.1004C0.464883 11.1319 0.526225 11.1484 0.588696 11.1484H9.43583C9.49381 11.1483 9.55087 11.134 9.60189 11.1066C9.65291 11.0792 9.69629 11.0396 9.72815 10.9915C9.76002 10.9433 9.77936 10.888 9.78444 10.8306C9.78953 10.7732 9.78021 10.7154 9.7573 10.6624L6.13436 2.27324C6.10845 2.21625 6.06759 2.16725 6.01607 2.13138C5.96454 2.09551 5.90426 2.07409 5.84154 2.06937C5.77882 2.06465 5.71598 2.0768 5.65962 2.10455C5.60325 2.1323 5.55544 2.17462 5.52119 2.22708ZM32.5242 1.47571e-05H21.5354C21.5037 -0.000189182 21.4725 0.00843189 21.4455 0.0249031C21.4185 0.0413744 21.3966 0.0650388 21.3824 0.0932203C21.3682 0.121402 21.3622 0.152976 21.365 0.184373C21.3679 0.21577 21.3796 0.245737 21.3987 0.270886L28.3993 9.54321C28.4172 9.56703 28.4411 9.58574 28.4685 9.59746C28.496 9.60918 28.5261 9.61349 28.5558 9.60996C28.5854 9.60642 28.6137 9.59517 28.6376 9.57734C28.6615 9.5595 28.6802 9.53571 28.6919 9.50837L32.3779 0.95808L32.6758 0.231692C32.6863 0.206759 32.6905 0.179669 32.6882 0.15274C32.6858 0.125811 32.677 0.0998473 32.6623 0.0770724C32.6477 0.0542974 32.6277 0.0353901 32.6041 0.0219697C32.5805 0.00854933 32.554 0.00101588 32.5268 1.47571e-05H32.5242ZM19.0109 36.2323L11.1772 14.1541C11.1542 14.09 11.1118 14.0346 11.0558 13.9954C10.9998 13.9563 10.933 13.9353 10.8645 13.9355H0.326786C0.265742 13.9353 0.205877 13.9522 0.154012 13.9842C0.102147 14.0162 0.0603671 14.0621 0.0334333 14.1165C0.0064996 14.171 -0.00450494 14.2319 0.00167356 14.2923C0.00785205 14.3527 0.0309651 14.4101 0.0683792 14.4581L18.989 38.8286C19.053 38.9111 19.1444 38.9684 19.2469 38.9902C19.3493 39.0121 19.4563 38.9971 19.5487 38.948C19.6417 38.8993 19.714 38.8191 19.7524 38.7219C19.7908 38.6247 19.7928 38.517 19.7581 38.4184L19.0109 36.2323ZM40.6732 13.9355H30.1355C30.0674 13.9355 30.001 13.9565 29.9454 13.9957C29.8899 14.0348 29.8479 14.0902 29.8254 14.1541L21.2235 38.381C21.1874 38.4827 21.1889 38.5939 21.2277 38.6946C21.2666 38.7953 21.3403 38.8789 21.4355 38.9306C21.5308 38.9819 21.6413 38.9979 21.7474 38.9757C21.8534 38.9535 21.9481 38.8946 22.0145 38.8095L40.9316 14.4581C40.969 14.4101 40.9921 14.3527 40.9983 14.2923C41.0045 14.2319 40.9935 14.171 40.9666 14.1165C40.9396 14.0621 40.8979 14.0162 40.846 13.9842C40.7941 13.9522 40.7343 13.9353 40.6732 13.9355ZM20.7803 4.08747L25.6856 10.591C25.7247 10.6427 25.7485 10.7043 25.7543 10.7687C25.7601 10.8332 25.7478 10.898 25.7187 10.9558C25.6896 11.0137 25.6449 11.0624 25.5895 11.0964C25.5342 11.1304 25.4704 11.1484 25.4053 11.1484H15.5947C15.5296 11.1484 15.4658 11.1304 15.4105 11.0964C15.3551 11.0624 15.3104 11.0137 15.2813 10.9558C15.2522 10.898 15.2398 10.8332 15.2457 10.7687C15.2515 10.7043 15.2753 10.6427 15.3144 10.591L20.2197 4.08747C20.2523 4.0442 20.2947 4.00908 20.3433 3.98489C20.392 3.96071 20.4456 3.94811 20.5 3.94811C20.5544 3.94811 20.608 3.96071 20.6567 3.98489C20.7053 4.00908 20.7477 4.0442 20.7803 4.08747ZM20.1671 31.1145L14.2369 14.3997C14.2183 14.3472 14.2126 14.291 14.2203 14.2359C14.2281 14.1807 14.249 14.1282 14.2813 14.0827C14.3137 14.0372 14.3565 14.0001 14.4062 13.9745C14.456 13.9489 14.5112 13.9355 14.5672 13.9355H26.4328C26.4888 13.9355 26.544 13.9489 26.5938 13.9745C26.6435 14.0001 26.6863 14.0372 26.7187 14.0827C26.751 14.1282 26.7719 14.1807 26.7797 14.2359C26.7874 14.291 26.7817 14.3472 26.7631 14.3997L20.8302 31.1145C20.806 31.1823 20.7613 31.2411 20.7022 31.2826C20.643 31.3241 20.5724 31.3464 20.5 31.3464C20.4276 31.3464 20.357 31.3241 20.2978 31.2826C20.2387 31.2411 20.194 31.1823 20.1698 31.1145H20.1671Z' fill='white'/%3E%3C/svg%3E%0A");
}

.profile-icon {
  width: 20px;
  height: 40px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.5 0C8.29921 0 0 8.29921 0 18.5C0 28.7008 8.29921 37 18.5 37C28.7008 37 37 28.7008 37 18.5C37 8.29921 28.7008 0 18.5 0ZM14.0333 10.3902C15.1602 9.19575 16.7461 8.53846 18.5 8.53846C20.2539 8.53846 21.8256 9.20019 22.9569 10.4009C24.1034 11.6176 24.661 13.2524 24.5294 15.0099C24.2661 18.5 21.5623 21.3462 18.5 21.3462C15.4377 21.3462 12.7285 18.5 12.4706 15.009C12.3399 13.2373 12.8966 11.5972 14.0333 10.3902ZM18.5 34.1538C16.4103 34.1552 14.3415 33.737 12.4165 32.9239C10.4914 32.1107 8.74926 30.9194 7.29327 29.4203C8.12716 28.2311 9.18966 27.22 10.4187 26.4461C12.6858 24.9928 15.5551 24.1923 18.5 24.1923C21.4449 24.1923 24.3142 24.9928 26.5786 26.4461C27.8087 27.2197 28.8721 28.2308 29.7067 29.4203C28.2509 30.9195 26.5087 32.111 24.5836 32.9241C22.6585 33.7373 20.5898 34.1554 18.5 34.1538Z' fill='white'/%3E%3C/svg%3E%0A");
}

.doc-icon {
  width: 20px;
  height: 40px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='38' viewBox='0 0 30 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24.5455 0H5.45455C4.00839 0.00157162 2.62193 0.574013 1.59934 1.59173C0.57676 2.60944 0.00157914 3.98931 0 5.42857V32.5714C0.00157914 34.0107 0.57676 35.3906 1.59934 36.4083C2.62193 37.426 4.00839 37.9984 5.45455 38H24.5455C25.9916 37.9984 27.3781 37.426 28.4007 36.4083C29.4232 35.3906 29.9984 34.0107 30 32.5714V5.42857C29.9984 3.98931 29.4232 2.60944 28.4007 1.59173C27.3781 0.574013 25.9916 0.00157162 24.5455 0ZM15 23.0714H8.18182C7.82016 23.0714 7.47331 22.9284 7.21758 22.6739C6.96185 22.4194 6.81818 22.0742 6.81818 21.7143C6.81818 21.3543 6.96185 21.0092 7.21758 20.7546C7.47331 20.5001 7.82016 20.3571 8.18182 20.3571H15C15.3617 20.3571 15.7085 20.5001 15.9642 20.7546C16.22 21.0092 16.3636 21.3543 16.3636 21.7143C16.3636 22.0742 16.22 22.4194 15.9642 22.6739C15.7085 22.9284 15.3617 23.0714 15 23.0714ZM21.8182 16.2857H8.18182C7.82016 16.2857 7.47331 16.1427 7.21758 15.8882C6.96185 15.6337 6.81818 15.2885 6.81818 14.9286C6.81818 14.5686 6.96185 14.2234 7.21758 13.9689C7.47331 13.7144 7.82016 13.5714 8.18182 13.5714H21.8182C22.1798 13.5714 22.5267 13.7144 22.7824 13.9689C23.0382 14.2234 23.1818 14.5686 23.1818 14.9286C23.1818 15.2885 23.0382 15.6337 22.7824 15.8882C22.5267 16.1427 22.1798 16.2857 21.8182 16.2857ZM21.8182 9.5H8.18182C7.82016 9.5 7.47331 9.35701 7.21758 9.1025C6.96185 8.84799 6.81818 8.50279 6.81818 8.14286C6.81818 7.78292 6.96185 7.43773 7.21758 7.18321C7.47331 6.9287 7.82016 6.78571 8.18182 6.78571H21.8182C22.1798 6.78571 22.5267 6.9287 22.7824 7.18321C23.0382 7.43773 23.1818 7.78292 23.1818 8.14286C23.1818 8.50279 23.0382 8.84799 22.7824 9.1025C22.5267 9.35701 22.1798 9.5 21.8182 9.5Z' fill='white'/%3E%3C/svg%3E%0A");
}

.export-icon {
  width: 20px;
  height: 40px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg width='41' height='38' viewBox='0 0 41 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M39.6335 35.2857H38.6085C38.5178 35.2857 38.4309 35.25 38.3669 35.1863C38.3028 35.1227 38.2668 35.0364 38.2668 34.9464V20.4852C38.2676 20.4312 38.2554 20.3779 38.2312 20.3295C38.207 20.2811 38.1716 20.2392 38.1278 20.2072C38.084 20.1752 38.0332 20.154 37.9795 20.1454C37.9258 20.1368 37.8709 20.1411 37.8192 20.1578C37.0354 20.4024 36.2214 20.5389 35.4002 20.5633C35.2994 20.5633 35.2037 20.5675 35.1098 20.5675C33.5302 20.5712 31.9759 20.1729 30.5954 19.4105C30.4909 19.3528 30.3733 19.3225 30.2538 19.3225C30.1342 19.3225 30.0166 19.3528 29.9121 19.4105C28.5319 20.1729 26.978 20.5712 25.3986 20.5675C23.8281 20.5697 22.284 20.1666 20.9176 19.3978C20.8122 19.3386 20.6932 19.3074 20.5721 19.3074C20.451 19.3074 20.332 19.3386 20.2266 19.3978C18.8396 20.1695 17.2756 20.5727 15.6858 20.5683C14.1047 20.5694 12.5509 20.16 11.1783 19.3808C11.0721 19.3208 10.952 19.2893 10.8298 19.2893C10.7076 19.2893 10.5875 19.3208 10.4813 19.3808C9.10868 20.16 7.55483 20.5694 5.97379 20.5683C5.88068 20.5683 5.78672 20.5683 5.68593 20.5641H5.68081C4.83072 20.5388 3.9886 20.3934 3.17978 20.1324C3.12856 20.1159 3.07415 20.1117 3.02099 20.1201C2.96783 20.1285 2.91742 20.1493 2.87388 20.1807C2.83033 20.2121 2.79487 20.2533 2.7704 20.3009C2.74593 20.3486 2.73312 20.4012 2.73304 20.4547V34.9464C2.73304 35.0364 2.69704 35.1227 2.63297 35.1863C2.56889 35.25 2.48199 35.2857 2.39137 35.2857H1.40907C0.671059 35.2857 0.0338433 35.8489 0.00138454 36.5818C-0.00692364 36.7649 0.0222244 36.9479 0.0870696 37.1195C0.151915 37.2912 0.251112 37.448 0.378676 37.5805C0.506239 37.7131 0.659523 37.8186 0.829276 37.8907C0.99903 37.9628 1.18173 38 1.36636 38H39.5908C40.3288 38 40.966 37.4368 40.9984 36.7039C41.0068 36.5208 40.9776 36.3378 40.9128 36.1662C40.8479 35.9945 40.7487 35.8377 40.6212 35.7052C40.4936 35.5726 40.3403 35.4671 40.1706 35.395C40.0008 35.3229 39.8181 35.2858 39.6335 35.2857ZM17.7666 29.5179C17.7666 29.6078 17.7306 29.6941 17.6665 29.7578C17.6024 29.8214 17.5155 29.8571 17.4249 29.8571H9.90812C9.81751 29.8571 9.7306 29.8214 9.66653 29.7578C9.60245 29.6941 9.56645 29.6078 9.56645 29.5179V24.0893C9.56645 23.8193 9.67445 23.5604 9.86667 23.3696C10.0589 23.1787 10.3196 23.0714 10.5915 23.0714H16.7415C17.0134 23.0714 17.2741 23.1787 17.4663 23.3696C17.6586 23.5604 17.7666 23.8193 17.7666 24.0893V29.5179ZM31.0917 35.2857H24.9416C24.851 35.2857 24.7641 35.25 24.7 35.1863C24.636 35.1227 24.6 35.0364 24.6 34.9464V24.0893C24.6 23.8193 24.708 23.5604 24.9002 23.3696C25.0924 23.1787 25.3531 23.0714 25.625 23.0714H30.4084C30.6802 23.0714 30.9409 23.1787 31.1332 23.3696C31.3254 23.5604 31.4334 23.8193 31.4334 24.0893V34.9464C31.4334 35.0364 31.3974 35.1227 31.3333 35.1863C31.2692 35.25 31.1823 35.2857 31.0917 35.2857ZM40.7072 11.7291L37.041 3.37504C36.081 1.32491 33.8883 0 31.4547 0H9.54083C7.10728 0 4.91461 1.32491 3.95451 3.37504L0.288388 11.7291C-0.480371 13.3755 0.535245 15.066 0.536099 15.0668L0.560016 15.105C0.601871 15.1712 0.676184 15.2746 0.721455 15.3408C0.725726 15.3459 0.729143 15.3518 0.733414 15.3578L1.1605 15.8709C1.17647 15.8903 1.19358 15.9087 1.21175 15.9261L1.63884 16.3358L1.67472 16.3663C1.92553 16.5798 2.19382 16.7721 2.47679 16.9414V16.9456C3.4064 17.5048 4.4655 17.8165 5.55182 17.8507H5.76281C7.40648 17.8537 8.99025 17.2381 10.1951 16.1279L10.2233 16.1017C10.3492 15.9839 10.5155 15.9183 10.6884 15.9183C10.8613 15.9183 11.0277 15.9839 11.1535 16.1017L11.1817 16.1279C12.3994 17.2363 13.9912 17.8511 15.6431 17.8511C17.2949 17.8511 18.8867 17.2363 20.1044 16.1279C20.2307 16.0118 20.3965 15.9473 20.5687 15.9473C20.7408 15.9473 20.9066 16.0118 21.0329 16.1279C22.247 17.2328 23.833 17.8472 25.4798 17.8508C27.1266 17.8544 28.7153 17.2469 29.9343 16.1475C30.0587 16.033 30.2221 15.9694 30.3917 15.9694C30.5613 15.9694 30.7247 16.033 30.8491 16.1475C32.0694 17.2536 33.6651 17.8619 35.3173 17.8507H35.53C36.5891 17.8114 37.6195 17.4986 38.5196 16.9431C38.6008 16.8947 38.6785 16.8438 38.7571 16.7929C39.3642 16.3865 39.8925 15.8748 40.3168 15.2823L40.4654 15.0592C40.4802 15.0366 40.4939 15.0128 40.5064 14.9879C40.6482 14.7012 41.4085 13.2271 40.7072 11.7291Z' fill='white'/%3E%3C/svg%3E%0A");
}

/*styles for carousel*/
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol,
li {
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  perspective: 100px;
  padding-top: 75%;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel__snapper img {
  width: 284px;
  height: 186px;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 37.5%;
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel-wrapper {
  width: 450px;
  height: 186px;
  margin-top: -170px;
  margin-left: -30px;
}

.carousel::before,
.carousel__prev {
  left: 1rem;
}

.carousel::after,
.carousel__next {
  right: 1rem;
}

.carousel::before,
.carousel::after {
  content: "";
  z-index: 1;

  background-size: 33px 33px;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33 16.5C33 7.38772 25.6123 -6.45855e-07 16.5 -1.44248e-06C7.38772 -2.2391e-06 2.2391e-06 7.38771 1.44248e-06 16.5C6.45855e-07 25.6123 7.38772 33 16.5 33C25.6123 33 33 25.6123 33 16.5ZM12.5836 16.5L19.301 23.2182C19.529 23.4582 19.6542 23.7777 19.65 24.1087C19.6458 24.4396 19.5124 24.7558 19.2784 24.9899C19.0443 25.2239 18.7281 25.3573 18.3971 25.3615C18.0662 25.3658 17.7466 25.2406 17.5067 25.0126L9.89128 17.3972C9.65343 17.1592 9.51982 16.8365 9.51982 16.5C9.51982 16.1635 9.65343 15.8408 9.89128 15.6028L17.5067 7.98743C17.7466 7.75945 18.0662 7.63423 18.3971 7.63846C18.7281 7.6427 19.0443 7.77606 19.2784 8.01011C19.5124 8.24416 19.6458 8.56038 19.65 8.89134C19.6542 9.22231 19.529 9.54184 19.301 9.7818L12.5836 16.5Z' fill='%23BCBCBC'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 16.5C0 25.6123 7.38772 33 16.5 33C25.6123 33 33 25.6123 33 16.5C33 7.38772 25.6123 0 16.5 0C7.38772 0 0 7.38772 0 16.5ZM20.4164 16.5L13.699 9.7818C13.471 9.54184 13.3458 9.22231 13.35 8.89134C13.3542 8.56038 13.4876 8.24416 13.7216 8.01011C13.9557 7.77606 14.2719 7.6427 14.6029 7.63847C14.9338 7.63423 15.2534 7.75945 15.4933 7.98743L23.1087 15.6028C23.3466 15.8408 23.4802 16.1635 23.4802 16.5C23.4802 16.8365 23.3466 17.1592 23.1087 17.3972L15.4933 25.0126C15.2534 25.2406 14.9338 25.3658 14.6029 25.3615C14.2719 25.3573 13.9557 25.2239 13.7216 24.9899C13.4876 24.7558 13.3542 24.4396 13.35 24.1087C13.3458 23.7777 13.471 23.4582 13.699 23.2182L20.4164 16.5Z' fill='%23BCBCBC'/%3E%3C/svg%3E%0A");
}

.map-link-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 25px;
  width: 100%;
  color: #000000;
}

.map-link-a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 126.02%;
  color: #000000;
  margin-right: 7px;
  text-decoration: none;
}

.map-link-a:hover {
  text-decoration: none;
  color: #000000;
}

.map-link-span {
  font-weight: 700;
  font-size: 16px;
  line-height: 126.02%;
  color: #000000;
}

.timestamp-div {
  width: 100%;
  position: absolute;
  left: 30px;
  bottom: 0;
}

.timestamp-label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 126.02%;
  color: #000000;
}
