<script type="text/javascript">

    function displayTable(data) {
        if (!!data.TableContent) {
            let cardId = "tracified" + data.WidgetId
            createCard(cardId, "Table")
            //craete boostarp cards Node and it to barchart 
            let tableDiv = document.createElement("div")
            tableDiv.style = "width:500px; heigth:fit-content;"
            let h5 = document.createElement('p')
            h5.append(document.createTextNode(data.TableTitle))
            h5.style = "common-widget-title"
            tableDiv.appendChild(h5)
            let tableNode = document.createElement("table");
            tableNode.className = `table table-bordered`;
            tableNode.innerHTML = data.TableContent
            tableDiv.append(tableNode)
            document.getElementById(cardId).appendChild(tableDiv);
        }
    }

    function displayProofBot(dataArray) {
        let cardId = "tracified" + dataArray.WidgetId
        createCard(cardId, "ProofBot")
        let botNode = document.getElementById(cardId)
        let botMainTitle = document.createElement('p')
        botMainTitle.append(document.createTextNode(dataArray.Title))
        botMainTitle.className = "common-widget-title"
        botNode.appendChild(botMainTitle)
        dataArray.Data.map((proofBotUrlbatchSpecific, i) => {
            let botSubcard = document.createElement('div')
            botSubcard.className = "card botCard"
            botNode.append(botSubcard)
            let p = document.createElement('p')
            p.className = "text-start"
            p.append(document.createTextNode(`TxnHash :${proofBotUrlbatchSpecific.TxnHash}`))
            let p1 = document.createElement('p')
            p1.className = "text-start"
            p1.append(document.createTextNode(`ProductName :${dataArray.ProductName}`))
            botNode.appendChild(p)
            let p2 = document.createElement('p')
            p2.className = "text-start"
            p2.append(document.createTextNode(`Timestamp :${dataArray.Timestamp}`))
            let p3 = document.createElement('p')
            p3.className = "text-start"
            p3.append(document.createTextNode(`Availble Proofs :`))
            botSubcard.appendChild(p)
            botSubcard.appendChild(p1)
            botSubcard.appendChild(p2)
            botSubcard.appendChild(p3)
            if (!!proofBotUrlbatchSpecific.Urls) {
                proofBotUrlbatchSpecific.Urls.map((data) => {
                    let p = document.createElement("p");
                    p.className = "text-start"
                    let anchor = document.createElement('a');
                    anchor.href = data.Url;
                    anchor.innerText = data.Type;
                    p.appendChild(anchor);
                    botSubcard.append(p);

                })
            }
        })
    }

    function displayImages(data) {
        let cardId = "tracified" + data.WidgetId
        createCard(cardId, "Image")
        let a=document.createElement("a")
        a.href=data.Base64Image
        let image = document.createElement("div")
        image.className = "img-widget-image"
        image.style = `background-image: url("`+ data.Base64Image +`");`
        let imgTitle = document.createElement('p')
        imgTitle.append(document.createTextNode(data.Title))
        imgTitle.className = "common-widget-title"
        let imageNode = document.getElementById(cardId);
        imageNode.appendChild(imgTitle)
        a.appendChild(image)
        imageNode.append(a)
    }

    function createCard(cardId, name) {
        let card = document.createElement("div")
        card.className = `card text-center justify-content-center m-3`;
        card.style = "min-width: 20rem; max-height: fit-content; "
        let cardTitle = document.createElement("h5")
        cardTitle.className = "card-header"
        cardTitle.appendChild(document.createTextNode(name));
        card.appendChild(cardTitle);
        let cardBody = document.createElement("div");
        cardBody.className = "card-body text-center  justify-content-center"
        cardBody.id = cardId
        card.append(cardBody)
        document.getElementById("container").appendChild(card);
    }

    function createDomCardForCanvas(cardId, name) {
        let card = document.createElement("div")
        card.className = `card text-center justify-content-center m-3`;
        card.style = "min-width: 20rem; max-height: fit-content; "
        let cardTitle = document.createElement("h5")
        cardTitle.className = "card-header"
        cardTitle.appendChild(document.createTextNode(name));
        card.appendChild(cardTitle);
        let cardBody = document.createElement("div");
        cardBody.className = "card-body text-center  justify-content-center"
        cardBody.id = cardId + `nft`
        let canv = document.createElement("canvas");
        canv.id = cardId
        canv.width = "500"
        canv.height = "400"
        cardBody.append(canv)
        card.append(cardBody)
        document.getElementById("container").appendChild(card);
    }

    function displayBarchart(data) {
        let cardId = "tracified" + data.WidgetId
        createDomCardForCanvas(cardId, "BarChart")
        lables = []
        dataValue = []
        data.ChartData.forEach(element => {
            lables.push(element.Name)
            dataValue.push(element.Value)
        })
        let barChartStruct = {
            labels: lables,
            datasets: [{
                label: data.ChartTitle,
                data: dataValue,
                backgroundColor: data.Color,
                borderWidth: 1
            }]
        }

        const ctx = document.getElementById(cardId).getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar', data: barChartStruct
            ,
            options: {
                scales: {
                    x: {
                        display: true,
                        title: {
                            display: true,
                            text: data.XAxis,
                            font: {
                                size: data.FontSize,
                            },
                            color: data.FontColor
                        },
                    },
                    y: {
                        display: true,
                        title: {
                            display: true,
                            text: data.YAxis,
                            font: {
                                size: data.FontSize,
                            },
                            color: data.FontColor,
                        },
                    },
                }
            }
        });
    }

    function displayPiechart(data) {
        let cardId = "tracified" + data.WidgetId
        createDomCardForCanvas(cardId, "PieChart")
        lables = []
        dataValue = []
        data.ChartData.forEach(element => {
            lables.push(element.Name)
            dataValue.push(element.Value)
        })
        let pieChartStruct = {
            labels: lables,
            datasets: [{
                label: data.ChartTitle,
                data: dataValue,
                backgroundColor: data.Color,
                borderWidth: 1
            }]
        }

        const ctx = document.getElementById(cardId).getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'pie', data: pieChartStruct
            ,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }, 
                plugins: {
                    title: {
                        display: true,
                        text: data.ChartTitle,
                    }
                }
            }
        });
    }

    function displayBubblechart(data) {
        let cardId = "tracified" + data.WidgetId
        createDomCardForCanvas(cardId, "bubbleChart")
        lables = []
        dataValue = []
        data.ChartData.forEach(element => {

            if (element.Value < 50) {
                lables.push(element.Name)
                dataValue.push({
                    x: element.X,
                    y: element.Y,
                    r: element.Value
                })
            } else if (element.Value > 50 && element.Value < 10000) {
                lables.push(element.Name)
                dataValue.push({
                    x: element.X,
                    y: element.Y,
                    r: element.Value / 100
                })
            } else if (element.Value > 10000 && element.Value < 100000) {
                lables.push(element.Name)
                dataValue.push({
                    x: element.X,
                    y: element.Y,
                    r: element.Value / 10000
                })
            } else {
                lables.push(element.Name)
                dataValue.push({

                    x: element.X,
                    y: element.Y,
                    r: (element.Value) / 100000
                })
            }
        })
        let bubbleChartStruct = {
            labels: lables,
            datasets: [{
                label: data.ChartTitle,
                data: dataValue,
                backgroundColor: data.Color,
                borderWidth: 1
            }]
        }

        const ctx = document.getElementById(cardId).getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bubble', data: bubbleChartStruct
            ,
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    function displayTimeline(data) {
        let cardId = "tracified" + data.WidgetId
        createCard(cardId, "Timeline")
        let timelineNode = document.getElementById(cardId);
        let centerCard = document.createElement('div')
        centerCard.className = "text-start row"
        centerCard.style = "width: 500px;"
        let timeline = document.createElement('ul')
        timeline.className = "timeline"
        centerCard.appendChild(timeline)
        if (data.TimelineData.length > 0) {
            data.TimelineData.forEach(tdata => {
                let liHeader = document.createElement('li')
                liHeader.className = "timeline-header"
                let headerIcon = document.createElement('img')
                headerIcon.className = "timeline-icon"
                headerIcon.src = tdata.Icon
                headerSpan = document.createElement('span')
                headerSpan.className = "timeline-stage"
                headerSpan.appendChild(document.createTextNode(tdata.Title))
                liHeader.appendChild(headerIcon)
                liHeader.appendChild(headerSpan)
                point = document.createElement('div')
                point.className = "card p-3 point"
                if (tdata.Children.length > 0) {
                    tdata.Children.forEach(data => {
                        let keyTimeline = document.createElement('span')
                        keyTimeline.className = "timeline-key"
                        keyTimeline.appendChild(document.createTextNode(data.Key))
                        point.appendChild(keyTimeline)

                        let p = document.createElement('p')
                        let ValueTimeline = document.createElement('span')
                        ValueTimeline.className = "timeline-value"
                        ValueTimeline.appendChild(document.createTextNode(data.Key))
                        p.appendChild(ValueTimeline)
                        point.appendChild(p)
                    })
                    if (tdata.Images.length > 0) {
                        tdata.Images.forEach(image => {
                            let timelineImage = document.createElement('div')
                            timelineImage.style = `background-image: url("`+ image +`");`
                            timelineImage.className = "img-timeline-image"
                            point.appendChild(timelineImage)
                        })
                    }
                    timeline.append(liHeader)
                    timeline.appendChild(point)
                }
                // timeline.append(liHeader)

            })
        }
        let timelineTitle = document.createElement('p')
        timelineTitle.append(document.createTextNode(data.Title))
        timelineTitle.style = "common-widget-title"
        centerCard.appendChild(timeline)
        timelineNode.appendChild(timelineTitle)
        timelineNode.appendChild(centerCard)
        timelineNode.append(centerCard)
    }
</script>